
.calendar__month:first-child {
  position: relative;
}

.calendar__month:first-child::before {
  content: '';
  background-image: url("/images/arrow_back_calendar.svg");
  background-size: 10px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}

.calendar__month:last-child {
  position: relative;
}

.calendar__month:last-child::after {
  content: '';
  background-image: url("/images/arrow_forward_calendar.svg");
  background-size: 10px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  display: block;
}

.calendar__month:last-child::after:hover {
  cursor: pointer;
}


